name=hdfs-sink_5
locale=en
timezone=UTC
connector.class=io.confluent.connect.hdfs.HdfsSinkConnector
partitioner.class=io.confluent.connect.hdfs.partitioner.HourlyPartitioner
format.class=com.chymeravr.analytics.eventjoin.JoinedEventFormat
tasks.max=1
topics=serving,ad_events,attributed_events
hdfs.url=hdfs://10.0.0.6:9000
flush.size=1000
rotate.interval.ms=60000
path.format=YYYY/MM/dd/HH